SERVER_URL=localhost:3000
DATABASE_URL=mongodb://localhost:27017/my-database

BETTER_AUTH_SECRET=your_super_secret_random_string
BETTER_AUTH_URL=http://localhost:3000 # The base URL of your application